<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/"><img src="assets/img/icon.png" width="30">Trello</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/cards">Cartas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cards/new">Nueva carta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/logout">Salir</a>
          </li>
      </ul>
    </div>
  </nav>
</header>