<div class="alert alert-danger" role="alert" *ngIf="mostrarErrorCarga">
    Hubo un problema cargando la carta, por favor intente nuevamente.
</div>

<div class="alert alert-danger" role="alert" *ngIf="mostrarErrorAdjunto">
    Hubo un problema cargando el adjunto, por favor intente nuevamente.
</div>

<form action="#" (ngSubmit)="onClickAceptar(attachment)" enctype="multipart/form-data">
    <input type="hidden" name="id" [(ngModel)]="card.id">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" #nombreControl="ngModel" class="form-control" name="nombre" id="nombre" [(ngModel)]="card.nombre" required>
    </div>

    <div class="form-group">
        <label for="desc">Descripcion</label>
        <input type="text" #descripcionControl="ngModel" class="form-control" name="desc" id="desc" [(ngModel)]="card.desc" required>
    </div>

    <div class="form-group">
        <label for="list">Lista</label>
        <select id="list" #listaControl="ngModel" class="form-control" name="lista" id="lista" [(ngModel)]="card.idList" required="required">
            <option *ngFor="let list of lists" value="{{ list.id }}">{{ list.name }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="attachment">Agregar adjunto</label>
        <input type="file" class="form-control" #attachment name="attachment" id="attachment" [(ngModel)]="card.attachment">
    </div>

    <div class="row">
        <button type="submit" [disabled]="!nombreControl.valid || !descripcionControl.valid || !listaControl.valid" class="btn btn-primary" *ngIf="!cargando">Aceptar</button>
        <button class="btn btn-secondary" *ngIf="cargando" disabled="disabled">Cargando...</button>
        <a href="/cards" class="btn">Cancelar</a>
    </div>
</form>
	
