<app-header></app-header>

<div class="alert alert-danger" role="alert" *ngIf="mostrarError">
    Hubo un problema obtieniendo la lista de cartas, por favor intente nuevamente.
</div>

<div class="alert alert-danger" role="alert" *ngIf="mostrarErrorEliminar">
  Hubo un problema eliminando la carta, por favor intente nuevamente.
</div>

<div class="alert alert-danger" role="alert" *ngIf="mostrarErrorInternet">
  Por favor, verifique su conexión a internet
</div>

<div class="searchBox">
	<div class="input-group col-md-12">
		<input [(ngModel)]="searchText" class="form-control input-lg" placeholder="Buscar Tarjeta por Nombre" />
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-4" *ngFor="let list of lists">
		<div class="card">
			<div class="card-header">{{list.name}}</div>
			<div class="card-body">
				<ul>
					<li *ngFor="let card of list.data | searchBox: searchText">
						<a [routerLink]="['/details', card.id]" class="cardLink">{{ card.name }}</a>&nbsp;<a href="#" (click)="onDeleteClick($event, card.id)"  class="cancelButton float-right"><span aria-hidden="true">&times;</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>