<div class="alert alert-danger" role="alert" *ngIf="mostrarErrorActualizar || mostrarErrorAdjuntos || mostrarErrorCrear || mostrarErrorNuevoAdjunto">
    <span *ngIf="mostrarErrorActualizar" >Hubo un problema actualizando la carta, por favor intente nuevamente.</span>
    <span *ngIf="mostrarErrorCrear" >Hubo un problema creando la carta, por favor intente nuevamente.</span>
    <span *ngIf="mostrarErrorAdjuntos" >Hubo un problema eliminando el adjunto, por favor intente nuevamente.</span>
    <span *ngIf="mostrarErrorNuevoAdjunto">Hubo un problema cargando el adjunto, por favor intente nuevamente.</span>
</div>


<form class="formContainer" action="#" (ngSubmit)="onSubmit()" #userForm>
	<div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" #nombreControl="ngModel" required class="form-control" name="nombre" id="nombre" [(ngModel)]="card.name">
    </div>
    
    <div class="form-group">
        <label for="desc">Descripcion</label>
        <input type="text" #descriptionControl="ngModel" required class="form-control" name="descripcion" id="desc" [(ngModel)]="card.desc" >
    </div>

    <div class="form-group">
        <label for="list">Lista</label>
        <select id="list" #listaControl="ngModel" required="required" class="form-control" name="lista" [(ngModel)]="card.idList">
            <option *ngFor="let list of lists" value="{{ list.id }}">{{ list.name }}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="attachment">Adjunto</label>
        <ul *ngIf="card.id !== ''">
            <li *ngIf="!card.attachments?.length > 0">Ningun archivo adjunto</li>
            <li *ngFor="let attachment of card.attachments">
                <a href="{{ attachment.url }}" target="_blank">{{ attachment.name }}</a>
                <a href="#" (click)="deleteAttachment($event, attachment._id.toString())" class="cancelButton"><span aria-hidden="true">&times;</span></a>
            </li>
        </ul>
        <label for="attachment">Agregar Adjunto</label>
        <input type="file" class="form-control" #attachment name="attachment" (change)="fileChange(attachment)" id="attachment">
    </div>

    <div class="row float-right">
        <button class="btn btn-primary formButton" type="submit" [disabled]="!descriptionControl.valid || !nombreControl.valid || !listaControl.valid" *ngIf="!cargando" >Aceptar</button>
        <button class="btn btn-secondary formButton" *ngIf="cargando">Cargando...</button>
        <a href="/cards" class="btn formButton">Cancelar</a>
    </div>

</form>
