<div class="alert alert-danger" role="alert" *ngIf="mostrarError || mostrarErrorCrear || mostrarErrorAdjuntos">
    <span *ngIf="mostrarError" >Hubo un problema actualizando la carta, por favor intente nuevamente.</span>
    <span *ngIf="mostrarErrorCrear" >Hubo un problema creando la carta, por favor intente nuevamente.</span>
    <span *ngIf="mostrarErrorAdjuntos" >Hubo un problema eliminando el adjunto, por favor intente nuevamente.</span>
    
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form action="#" #userForm>
	<div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="card.name" required="required">
    </div>
    
    <div class="form-group">
        <label for="desc">Descripcion</label>
        <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="card.desc">
    </div>

    <div class="form-group">
        <label for="list">Lista</label>
        <select id="list" class="form-control" name="lista" [(ngModel)]="card.idList" required="required">
            <option *ngFor="let list of lists" value="{{ list.id }}">{{ list.name }}</option>
        </select>
    </div>
    
    Adjuntos
    <ul>
        <li *ngIf="!attachments?.length > 0">Ningun adjunto</li>
        <li *ngFor="let attachment of attachments">
            <a href="{{ attachment.url }}" target="_blank">{{ attachment.name }}</a>
            <a href="#" (click)="deleteAttachment($event, attachment.id)" style="color:red"><span aria-hidden="true">&times;</span></a>
        </li>
    </ul>

    <div class="row">
        <button type="submit" class="btn btn-primary" (click)="onSubmit($event)" #submitButton>Aceptar</button>
        <a href="/cards" class="btn">Cancelar</a>
    </div>
</form>
